.NF_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
}
.NF_main_div img {
  max-width: 50%;
}
.NF_main_div h1 {
  color: #334155;
}
.NF_main_div p {
  text-align: center;
  color: #475569;
}
.NF_main_div button {
  background-color: #0284c7;
  border-width: 0px;
  border-radius: 6px;
  outline: none;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 780px) {
  .NF_main_div img {
    max-width: 80%;
  }
}
