.HDR_maindiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 100%;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #fff;
}

.ul {
  display: flex;
  margin-left: auto;
  list-style: none;
  justify-content: center;
}
.selectedTab {
  color: #0284c7;
}
.ul_row {
  align-items: center;
  flex-direction: row;
}
.ul_col {
  flex-direction: column;
}

.mar_r {
  color: #64748b;
  margin-right: 20px;
  text-decoration: none;
}
.mar_b {
  color: #64748b;
  margin-bottom: 20px;
  text-decoration: none;
}

.logoutBtn {
  background-color: #0284c7;
  border-width: 0px;
  border-radius: 6px;
  outline: none;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  width: 80px;
  cursor: pointer;
}
.menu_icon {
  display: none;
  height: 15px;
}

@media (max-width: 780px) {
  .HDR_maindiv .ul {
    display: none;
  }
  .menu_icon {
    display: inline;
  }
}
